* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    font-size: 3rem;
    background-image: url("starry-sky-1655503.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 100vw;
    height: 94.5vh;
}

div {
    background-image: radial-gradient(crimson, papayawhip);
    background-clip: text;
    color: transparent;
}






